# Nutanix Config
NUTANIX_USER=hildoritdashboard
NUTANIX_PASS=ItDa$(1857
NUTANIX_HOST=10.23.50.27
NUTANIX_PORT=9440

# SolarWinds Config
SW_USER=hil-dor.itdashboard@adityabirla.com
SW_PASS=ItDa$(1857
SW_HOST_SERVERS=10.36.91.45
SW_HOST_NETWORKS=10.36.91.46

# Symphony Summit Config (AD authentication)
SYM_USER=your_ad_username
SYM_PASS=your_ad_password
SYM_URL=https://hsd.adityabirla.com/MDLIncidentMgmt/SDE_Dashboard.aspx
